<section id="reasons">
    <h2 class="titlereasons">3 reasons to purchase</h2>
    <h3 class="titlereason1">Ut sed metus</h3>
    <p class="textreason1">Lorem ipsum dolor sit amet, consectetur.</p>
    <h3 class="titlereason2">Curabitur ac erat</h3>
    <p class="textreason2">Mauris mattis urna quis lorem molestie.</p>
    <h3 class="titlereason3">Morbi dictum</h3>
    <p class="textreason3">Aliquam in dolor et dolor tincidunt</p>
    <a href="#" class="morebuttom">More reasons</a>
</section>