<section id="reasons" class="reasons">
    <div class="row1">
        <h2 class="titlereasons">3 reasons to purchase</h2>
    </div>
    <div class="row2">
        <include src="./articles3reasons.html" title="Ut sed metus" text="Lorem ipsum dolor sit amet, consecteur.">
        </include>
    </div>
    <div class="row3">
        <include src="./articles3reasons.html" title="Curabitur ac erat" text="Mauris mattis urna quis lorem molestie.">
        </include>
    </div>
    <div class="row4">
        <include src="./articles3reasons.html" title="Morbi dictum" text="Aliquam in dolor et dolor tincidunt.">
        </include>
    </div>
    <div class="row5"><a href="#" class="morebuttom">More reasons</a></div>
</section>