<section id="reasons" class="reasons">
    <div class="row1">
        <h2 class="titlereasons">3 reasons to purchase</h2>
    </div>
    <div class="row2">
        <h3 class="titlereason">Ut sed metus</h3>
        <p class="textreason">Lorem ipsum dolor sit amet, consectetur.</p>
    </div>
    <div class="row3">
        <h3 class="titlereason">Curabitur ac erat</h3>
        <p class="textreason">Mauris mattis urna quis lorem molestie.</p>
    </div>
    <div class="row4">
        <h3 class="titlereason">Morbi dictum</h3>
        <p class="textreason">Aliquam in dolor et dolor tincidunt</p>
    </div>
    <div class="row5"><a href="#" class="morebuttom">More reasons</a></div>
</section>