<footer class="footer">
    <section class="circle2">
        <div class="arrow"><a href="./index.html#header"><img src="./assets/images/ico-arrow.svg" class="footerarrow"
                    alt="scroll up arrow"></a>
        </div>
    </section>
    <section class="textfooter">
        <nav class="navfooter">
            <ul class="menuarticles">
                <li><a class="articles" href="https://github.com/claudiabg-c">Articles</a>
                <li><a class="articles" href="https://github.com/claudiabg-c">Books</a>
                <li><a class="articles" href="https://github.com/claudiabg-c">Events</a></li>
                <li><a class="articles" href="https://github.com/claudiabg-c">Reasons</a>
                <li><a class="articles" href="https://github.com/claudiabg-c">Tips</a></li>
            </ul>
            <ul class="menusmm">
                <li><a class="smm" href="https://github.com/claudiabg-c">Twitter</a>
                <li><a class="smm" href="https://github.com/claudiabg-c">Instagram</a>
                <li><a class="smm" href="https://github.com/claudiabg-c">Mastodon.social</a></li>
            </ul>
        </nav>
        <section class="welove">
            <div class="copy">&copy; 2021</div>
            <small class="small">We <span class="heart">❤︎</span> components</small>
        </section>
    </section>

</footer>