<footer class="footer">
    <a href="./index.html#header" class="arrow"></a>
    <nav class="navfooter">
        <ul class="menuarticles">
            <li><a class="articles" href="https://adalab.es">Articles</a>
            <li><a class="articles" href="https://adalab.es">Books</a>
            <li><a class="articles" href="https://adalab.es">Events</a></li>
            <li><a class="articles" href="https://adalab.es">Reasons</a>
            <li><a class="articles" href="https://adalab.es">Tips</a></li>
        </ul>
        <nav class="navfooter">
            <ul class="menusmm">
                <li><a class="smm" href="https://adalab.es">Twitter</a>
                <li><a class="smm" href="https://adalab.es">Instagram</a>
                <li><a class="smm" href="https://adalab.es">Mastodon.social</a></li>
            </ul>
        </nav>
    </nav>
    <div>&copy; 2021</div>
    <small>We ❤︎ components</small>
</footer>