<header id="header" class="header">
    <nav><a href="https://adalab.es" class="burger"><img src="./assets/images/ico-menu.svg" alt="menu buttom"></a></nav>
    <h1 class="headertitle">Anonymous proxy</h1>
    <p class="headertext">In hac habitasse platea dictumst.</p>
    <div class="circle">
        <div class="scroll"><a href="./index.html#reasons"><img src="./assets/images/ico-scroll-down.svg"
                    class="scrollarrow" alt="scroll down arrow"></a>
        </div>
    </div>
</header>