.footer {
  background-color: $branddarkblue;
  padding-bottom: 4.5rem;

  & .textfooter {
    display: flex;
    flex-direction: column;
    align-items: center;
    color: white;

    @include tablet {
      display: flex;
      flex-direction: row-reverse;
      justify-content: space-between;
      align-items: flex-start;
    }
  }

  @include tablet {
    & .navfooter {
      display: flex;
      justify-content: space-between;
    }
  }

  & .circle2 {
    display: flex;
    justify-content: center;
    align-items: center;
    transform: translateY(-50%);
    margin-bottom: 3.7rem;

    @include tablet {
      margin-bottom: 2.2rem;
    }

    & .arrow {
      height: 4.5rem;
      width: 4.5rem;
      background-color: white;
      border-radius: 5rem;
      display: flex;
      justify-content: center;
      align-items: center;
      box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.5);

      & .footerarrow {
        height: 2.4rem;
        width: 2.06rem;
        padding-top: 1.8rem;
        padding-bottom: 1.53rem;
      }
    }
  }

  & .menuarticles,
  .menusmm {
    text-align: center;
    padding-bottom: 3rem;

    @include tablet {
      margin-right: 3.9rem;
      width: 21rem;
      text-align: left;
    }

    & .articles,
    .smm {
      color: white;
      text-transform: uppercase;
      font-size: 1.6rem;
      font-family: $fontregular;
      line-height: 3rem;
    }
  }

  @include tablet {
    & .welove {
      width: 21rem;
      margin-left: 3.9rem;
    }
  }

  & .copy {
    font-size: 1.4rem;
    font-family: $fontregular;
    line-height: 3rem;
    text-align: center;

    @include tablet {
      text-align: left;
    }
  }

  & .small {
    font-family: $fontregular;
    font-size: 1.4rem;
    text-align: center;

    & .heart {
      color: $brandorange;
    }
  }
}
